<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://abcretailsfunctions-g8h2g5b4fygxd3ad.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6e0dbbad-492a-4d80-abe8-be6b2efe032b/resourceGroups/POECLDV/providers/Microsoft.Web/sites/ABCRetailsFunctions</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://abcretailsfunctions-g8h2g5b4fygxd3ad.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>